<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923206721363-8p6b0f773q5m6bomaf11ge7giq0jrtrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923206721363-8p6b0f773q5m6bomaf11ge7giq0jrtrl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>923206721363-13l8a3ldtjhb4rrjj6k9c4hn9nl6qhe6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFOaRHZ37hBUhDtJibfahMkzLGF0PGJak</string>
	<key>GCM_SENDER_ID</key>
	<string>923206721363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zerowaste.instacash</string>
	<key>PROJECT_ID</key>
	<string>instacash-1307</string>
	<key>STORAGE_BUCKET</key>
	<string>instacash-1307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923206721363:ios:6727b0ae3649557a</string>
	<key>DATABASE_URL</key>
	<string>https://instacash-1307.firebaseio.com</string>
</dict>
</plist>
